installation:
  enabled: true
  kubernetesProvider: ""

  calicoNetwork:
    bgp: Disabled
    mtu: 1400
    nodeAddressAutodetectionV4:
      kubernetes: NodeInternalIP
    ipPools:
      - name: default-ipv4-ippool
        blockSize: 26
        cidr: 192.168.0.0/16
        encapsulation: VXLANCrossSubnet
        natOutgoing: Enabled
        nodeSelector: all()
        disableBGPExport: true
        allowedUses:
          - Workload
          - Tunnel
        assignmentMode: Automatic

apiServer:
  enabled: true

# goldmane configures the Calico Goldmane flow aggregator.
goldmane:
  enabled: true

# whisker configures the Calico Whisker observability UI.
whisker:
  enabled: true

defaultFelixConfiguration:
  enabled: true
  wireguardEnabled: true
  healthEnabled: true
  prometheusMetricsEnabled: true
  prometheusWireGuardMetricsEnabled: true
  ipipEnabled: false
  vxlanEnabled: true
  vxlanMTU: 1400 

# Resource requests and limits for the tigera/operator pod.
resources:
  limits:
    cpu: 1
    memory: 1000Mi
  requests:
    cpu: 100m
    memory: 100Mi
# Common labels for all resources created by this chart
additionalLabels: {}

# Tolerations for the tigera/operator pod.
tolerations:
  - effect: NoExecute
    operator: Exists
  - effect: NoSchedule
    operator: Exists

# NodeSelector for the tigera/operator pod.
nodeSelector:
  kubernetes.io/os: linux

# Affinity for the tigera/operator pod.
affinity: {}

# PriorityClassName for the tigera/operator pod.
priorityClassName: ""

# Custom annotations for the tigera/operator pod.
podAnnotations: {}

# Custom labels for the tigera/operator pod.
podLabels: {}

# Custom DNS configuration for the tigera/operator pod.
dnsConfig: {}
# Image and registry configuration for the tigera/operator pod.
tigeraOperator:
  image: tigera/operator
  version: v1.40.3
  registry: quay.io
calicoctl:
  image: quay.io/calico/ctl
  tag: v3.31.3

# Optionally configure the host and port used to access the Kubernetes API server.
kubernetesServiceEndpoint:
  host: "kubernetes.default.svc"
  port: "6443"


kubectl create -f - <<EOF
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  # Configures Calico networking.
  registry: quay.io/
  calicoNetwork:
    bgp: Disabled
    mtu: 1400
    nodeAddressAutodetectionV4:
      kubernetes: NodeInternalIP
    ipPools:
      - blockSize: 26
        cidr: 192.168.0.0/16
        encapsulation: VXLANCrossSubnet
        natOutgoing: Enabled
        nodeSelector: all()
        disableBGPExport: true
EOF