---
# Handlers for monitoring role

- name: restart systemd-journald
  systemd:
    name: systemd-journald
    state: restarted
    daemon_reload: true

- name: restart chrony
  systemd:
    name: chrony
    state: restarted
    daemon_reload: true

- name: restart node_exporter
  systemd:
    name: node_exporter
    state: restarted
    daemon_reload: true

- name: restart fluent-bit
  systemd:
    name: fluent-bit
    state: restarted
    daemon_reload: true

